DB_HOST=localhost
DB_PORT=6544
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=sharetrip
DB_SSLMODE=disable
DATABASE_URL=postgres://postgres:password@localhost:6544/sharetrip?sslmode=disable
HTTP_ADDR=:8080
CONTRACT_SERVICE_BASE_URL=http://localhost:8082
CONTRACT_SERVICE_TIMEOUT_MS=2000
CONTRACT_SERVICE_RETRY_COUNT=2
KEYCLOAK_ISSUER=http://localhost:8087/realms/sharetrip
KEYCLOAK_CLIENT_ID=sharetrip-api
KEYCLOAK_CLIENT_SECRET=4dzHbVoxrUbUz56lG2UR7dQG6Nq7EH8i
