DB_HOST=localhost
DB_PORT=6544
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=sharetrip
DB_SSLMODE=disable
DATABASE_URL=postgres://postgres:password@localhost:6544/sharetrip?sslmode=disable
HTTP_ADDR=:8080
